@charset "utf-8";

html {

}

body, footer, header, section {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #271D38;
  color: #FFF;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100vw;
  border-top: 2px solid #FFF;
}

header {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100vw;
  border-bottom: 2px solid #FFF;
}

.main_form {
  margin: 0 auto;
  padding-top: 82px;
  width: 650px;
  height: 100vh;
}
