.product_link_image {
  margin: 25px;
}

#main_splash_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .product_link_form {
    width: 350px;
  }

  .product_link_image {
    width: 300px;
  }

  /* #main_product_container {
    grid-template-columns: repeat(1, 300px);
  } */
}

@media screen and (min-width: 650px) {
  .product_link_form {
    width: 300px;
  }

  .product_link_image {
    width: 250px;
  }
  /* #main_product_container {
    grid-template-columns: repeat(2, 250px);
  } */
}

@media screen and (min-width: 900px) {
  .product_link_form {
    width: 300px;
  }

  .product_link_image {
    width: 250px;
  }
  /* #main_product_container {
    grid-template-columns: repeat(3, 250px);
  } */
}
