img {
  grid-area: image;
}

.color_swatch {
  width: 60px;
  height: 35px;
  border: none;
  display: inline;
}

.color_swatch_form {
  width: 60px;
  display: inline;
  padding: 5px 10px;
}

#cart_info {
  grid-area: cart;
}

#color_select {
  padding: 0px 15px;
  grid-area: color;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 220px;
}

#description {
  grid-area: description;
}

#flex_container {
  display: flex;
  justify-content: center;
}

#main_product_container {
  display: grid;
  width: 100%;
}

#price_info {
  grid-area: price;
}

#qty_info {
  grid-area: qty;
}

#sale_info {
  grid-area: sale;
}

#size_select {
  grid-area: size;
}

@media screen and (max-width: 650px) {
  img {
    width: 380px;
  }

  #main_product_container {
    grid-template-columns: repeat(1, 380px);
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas:
                          "image"
                          "image"
                          "image"
                          "description"
                          "description"
                          "color"
                          "size"
                          "qty"
                          "price"
                          "sale"
                          "cart";
  }
}

@media screen and (min-width: 650px) {
  img {
    width: 380px;
  }
  #main_product_container {
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas:
                        "image image"
                        "image image"
                        "image image"
                        "description description"
                        "description description"
                        "color color"
                        "size size"
                        "qty qty"
                        "price price"
                        "sale sale"
                        "cart cart";
  }
}

@media screen and (min-width: 900px) {
  img {
    width: 400px;
  }
  #main_product_container {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
                          "image image color"
                          "image image size"
                          "image image price"
                          "image image sale"
                          "image image qty"
                          "image image cart"
                          "image image ."
                          "image image ."
                          "image image ."
                          "image image ."
                          "description description ."
                          "description description .";
  }
}
